.MuiFormControl-root {
  > label {
    font-size: 20px;
  }
  > .MuiInput-root {
    margin-top: 20px;
  }
  > .MuiFormHelperText-root {
    font-size: 14px;
  }
}

.MuiTableContainer-root {
  .MuiTableRow-root:hover {
    background-color: #00000006;
  }
  .MuiTableCell-head {
    padding: 12px 12px;
    font-weight: 500;
  }
  .MuiTableCell-body {
    padding: 12px 12px;
  }
}

.MuiTabs-root {
  .MuiTab-root {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.MuiLoadingButton-root {
  .MuiLoadingButton-loadingIndicator {
    position: static;
    left: 0px;
    margin-left: 4px;
    color: #fff9 !important;
  }

  &.MuiLoadingButton-loading {
    color: #fff9 !important;
  }
}

.MuiButton-root.MuiButton-contained {
  border-radius: 12px;
  &:hover {
    filter: brightness(0.85);
  }
  &.MuiButton-containedPrimary {
    background: linear-gradient(180deg, #9689ed 0%, #5b4dbe 100%);
    color: #fff;
  }
  &.MuiButton-containedSecondary {
    color: #fff;
  }
  > .MuiLoadingButton-loadingIndicator {
    color: #333;
  }
}
