.MuiTableContainer-root {
  .MuiTableRow-root:hover {
    background-color: #00000006;
  }
  .MuiTableCell-head {
    padding: 12px 12px;
  }
  .MuiTableCell-body {
    padding: 12px 12px;
  }
}

.MuiLoadingButton-root {
  .MuiLoadingButton-loadingIndicator {
    position: static;
    left: 0px;
    margin-left: 4px;
    color: #fff9 !important;
  }

  &.MuiLoadingButton-loading {
    color: #fff9 !important;
  }
}

.SnackbarContent-root {
  .SnackbarItem-message {
    font-size: 16px;
    font-family: 'Noto Sans Display';
    .MuiSvgIcon-root {
      width: 22px;
      height: 22px;
    }
  }
}
