@import 'styles/components';
@import 'styles/mui';

body {
  font-size: 1rem;
  font-family: 'Noto Sans Display' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}

:root {
  --color-primary: #9689ed;
  --color-primary-dark: #5b4dbe;
  --color-secondary: #ff9e7e;
  --color-secondary-dark: #ff5018;
}

body > iframe {
  display: none;
}
