@import 'styles/components';
@import 'styles/mui';

body {
  font-size: 1rem;
  font-family: 'Noto Sans Display' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}

:root {
  --color-primary-light: #7d302f;
  --color-primary-main: #b0052c;
  --color-primary-dark: #330f0d;

  --color-secondary-light: #b3e7ff;
  --color-secondary-main: #4da7d0;
  --color-secondary-dark: #00bfff;
}

body > iframe {
  display: none;
}
