@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lexend' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #2c1d82; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  min-height: calc(100vh);

  max-width: 600px;
  overflow: scroll;
  background-image: url(/src//assets/images/background.png);
  margin: auto;
  color: #1e2843;
}

.balance {
  background-color: #140d50;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 20px;
}

.ball {
  width: 40px;
  height: 40px;
  color: white;
  background: linear-gradient(180deg, #ff9e7e 0%, #ff5018 100%);
  box-shadow: 0px -4px 8px rgba(238, 198, 110, 0.2);
}

.balancebox {
  background-image: url(/src//assets/images/bgbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
