@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lexend' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c1d82;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: calc(100vh - 100px);
  max-width: 600px;
  overflow: scroll;
  background-color: #281C70;
  margin: auto;
}


.balance {
  background-color: #140D50;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding: 0 15px;
  line-height: 40px;
}

.ball {
  background-image: url(/src//assets/images/ball.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 -4px 8px #eec66e33;
  text-shadow: -1px -1px 0px #ffe68b, 0px -1px 0px #ffe68b, 1px -1px 0px #ffe68b, -1px 0px 0px #ffe68b, 1px 0px 0px #ffe68b, -1px 1px 0px #ffe68b, 0px 1px 0px #ffe68b, 1px 1px 0px #ffe68b;
}